<% if !@question.nil? %>
  <% @title=@question.title %>
  <h1><%= @question.title %></h1>
  <h2><%= @question.content %></h2>
  <ul>
  <% @question.articles.each do |article| %>
    <li><%= article.title %></li>
  <% end %>
  </ul>
<% end %>
