<div class="container">
  <% @title="About - Summa Explorer" %>
  <div class="title">About the Summa Explorer</div>
  <div class="normal-text">
    The Summa Explorer site is designed to make reading and understanding the
    SummaTheologica as easy as possible. You can explore the Summa in the
    following ways.
  </div>
  <hr>
  <div class="section-title">
    <a href="browse">
      Browse <div class="glyphicon glyphicon-random"></div>
    </a>
  </div>
  <div class="normal-text">
    The highly structured layout of the Summa make for easy browsing of the
    text. The Summa is divided into parts, each part into treatises, each
    treatise into questions, and each question into articles. Each article
    focuses on a specific topic, and includes arguments for an against the
    position Saint Thomas takes. The Summa Explorer provides a clear context
    for each article, indicating its question, treatise, and part.
  </div>
  <hr>
  <div class="section-title">
    <a href="read">
      Read <div class="glyphicon glyphicon-book"></div>
    </a>
  </div>
  <div class="normal-text">
    Read the Summa's over three thousand articles sequentially. This option
    will save the last page read on a given device, so you can start reading at
    that location again.
  </div>
  <hr>
  <div class="section-title"h2>
    <a href="outline">
      Outline <div class="glyphicon glyphicon-list"></div>
    </a>
  </div>
  <div class="normal-text">
    View the Summa's content in a large, single-page outline. This is often
    useful in combination with another view to get an idea of the conext of a
    given article.
  </div>
  <hr>
  <div class="section-title">
    <a href="https://www.gitbook.com/book/joshpeterson1/summa-theologica/details">
      Download <div class="glyphicon glyphicon-download-alt"></div>
    </a>
  </div>
  <div class="normal-text">
    Download the Summa for offline reading.
  </div>
  <hr>
  <div class="normal-text">
    The Summa Explorer is driven by open-source software. It is written
    using <a href="http://rubyonrails.org/">Ruby on Rails</a>. Please view the code
    and contribute at its <a href="https://github.com/joshpeterson/summa">project page</a>.
    The public domain text of the Summa Theologica is taken from
    the <a href="http://www.ccel.org/ccel/aquinas/summa.txt">Christian Classics Ethereal Library</a>.
  </div>
</div>
