<div class="container">
  <% @title="Home - Summa Explorer" %>
  <div class="centered-title">Summa Theologica</div>
  <div class="centered-text">
    The Summa Theologica is the magnum opus of Saint Thomas Aquinas, a highly
    structured introduction to theology encompassing 3,117 articles.  This site
    allows you to explore the Summa.
  </div>
  <hr>
  <div>
    <div class="row">
      <div class="col-sm-4 btn-vert-block">
        <a href="browse" class="btn btn-lg btn-block btn-default">
          <div class="glyphicon glyphicon-random"></div> Browse
        </a>
      </div>
      <div class="col-sm-4 btn-vert-block">
        <a href="read" class="btn btn-lg btn-block btn-default">
          <div class="glyphicon glyphicon-book"></div> Read
        </a>
      </div>
      <div class="col-sm-4 btn-vert-block">
        <a href="outline" class="btn btn-lg btn-block btn-default">
          <div class="glyphicon glyphicon-list"></div> Outline
        </a>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-sm-4 btn-vert-block">
        <a href="https://www.gitbook.com/download/pdf/book/joshpeterson1/summa-theologica" class="btn btn-lg btn-block btn-default">
          <div class="glyphicon glyphicon-download-alt"></div> PDF
        </a>
      </div>
      <div class="col-sm-4 btn-vert-block">
        <a href="https://www.gitbook.com/download/epub/book/joshpeterson1/summa-theologica" class="btn btn-lg btn-block btn-default">
          <div class="glyphicon glyphicon-download-alt"></div> ePub
        </a>
      </div>
      <div class="col-sm-4 btn-vert-block">
        <a href="https://www.gitbook.com/download/mobi/book/joshpeterson1/summa-theologica" class="btn btn-lg btn-block btn-default">
          <div class="glyphicon glyphicon-download-alt"></div> Mobi (Kindle)
        </a>
      </div>
    </div>
  </div>
  <p></p>
</div>
