<% @title="Summa Explorer" %>
<div class="container">
  <div class="title">Summa Theologica - Saint Thomas Aquinas</div>
  <div class="list">
  <% @summa.parts.each do |part| %>
    <%= link_to part, :class => "item" do %>
      <span class="glyphicon glyphicon-menu-right pull-right"></span>
      <%= part.title %>
    <% end %>
  <% end %>
  </div>
</div>
