<% if !@part.nil? %>
  <% @title=@part.title %>
  <div class="title"><%= @part.title %></div>
  <% if !@part.prologue.nil? %>
    <div class="prologue"><%= @part.prologue %></div>
  <% end %>
  <ul>
  <% @part.treatises.each do |treatise| %>
    <li><%= treatise.title %></li>
  <% end %>
  </ul>
<% end %>
