<div class="hidden-print">
  <div class="footer">
    <div class="container">
      <p class="normal-text">
      <a href="/">Home</a> | <a href="/outline">Outline</a> | <a href="/about">About</a>
      </p>
    </div>
  </div>
</div>
