<% if !@treatise.nil? %>
  <% @title=@treatise.title %>
  <div class="title"><%= @treatise.title %></div>
  <% if !@treatise.prologue.nil? %>
    <div class="prologue"><%= @treatise.prologue %></div>
  <% end %>
  <ul>
  <% @treatise.questions.each do |question| %>
    <li><%= link_to question.title, question %></li>
  <% end %>
  </ul>
<% end %>
