<% if !@treatise.nil? %>
  <% @title=@treatise.title %>
  <h1><%= @treatise.title %></h1>
  <% if !@treatise.prologue.nil? %>
    <h2><%= @treatise.prologue %></h2>
  <% end %>
  <ul>
  <% @treatise.questions.each do |question| %>
    <li><%= question.title %></li>
  <% end %>
  </ul>
<% end %>
