/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.normal-text
{
  @extend p;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
}

.title
{
  @extend .h2;
  font-family: 'Libre Baskerville', sans-serif;
}

.section-title
{
  @extend .h3;
  font-family: 'Libre Baskerville', sans-serif;
}

.list { @extend .list-group; }
.item
{
  @extend .list-group-item;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
}

hr
{
  display: block;
  height: 0px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 1em auto;
  padding: 0;
  width: 33%;
}

.prologue { @extend .normal-text; }
.content { @extend .normal-text; }
.statement { @extend .normal-text; }
.contrary { @extend .normal-text; }
.answer { @extend .normal-text; }
.reply { @extend .normal-text; }
.context { @extend .normal-text; }
