<% @title="Reader" %>
<div class="container">
  <div class="title">Summa Theologica Reader</div>
  <h2>
    This page will redirect to the most recent part of the Summa visited
    on this device. Bookmark it in your browser to use it like a real bookmark!
  </h2>

  <h2>
    <a href="/browse">Get started reading!</a>
  </h2>
</div>
